<p>All Brick Categories</p>

<div class="collapse navbar-collapse" id="menu-collapse">
  <ul class="nav navbar-nav">
    <li>{{link-to 'View all red bricks' 'bricks.red' id="link-bricks-red"}}</li>
    <li>{{link-to 'View all blue bricks' 'bricks.blue' id="link-bricks-blue"}}</li>
  </ul>
</div>

{{outlet}}
